/WhileLoopExercises/build/
/WhileLoopExercises/nbproject/private/
/k00223361_Armstrong [[]unfinished]/build/
/Lecture9_Forloops/build/
/Lecture9_Forloops/nbproject/private/
/TESTING/nbproject/private/
/L10 - Arrays/nbproject/private/
/L10 - Arrays/build/
/L10-Arrays/build/
/L10-Arrays/nbproject/private/
/Lecture10_Arrays/build/
/Lecture10_Arrays/nbproject/private/
/Lecture9-LoopExercises/build/
/Lecture9-LoopExercises/nbproject/private/
/Solutions/L10-ArraysSource/build/
/L11 - 2DArrays/nbproject/private/
/L11 - 2DArrays/build/
/ClassAssignment2/nbproject/private/
/ClassAssignment2/build/
/ClassTest2Revisit/nbproject/private/
/ClassTest2Revisit/build/
/L12_Methods/nbproject/private/
/L12_Methods/build/
/StringWorksheet/nbproject/private/
/StringWorksheet/build/
/L12_MethodsSup/nbproject/private/
/Lecture16-JavaGUI/nbproject/private/
/Lecture16-JavaGUI/build/