/WhileLoopExercises/build/
/WhileLoopExercises/nbproject/private/
/k00223361_Armstrong [[]unfinished]/build/
/Lecture9_Forloops/build/
/Lecture9_Forloops/nbproject/private/
/TESTING/nbproject/private/
/L10 - Arrays/nbproject/private/
/L10 - Arrays/build/
/L10-Arrays/build/
/L10-Arrays/nbproject/private/
/Lecture10_Arrays/build/
/Lecture10_Arrays/nbproject/private/
/Lecture9-LoopExercises/build/
/Lecture9-LoopExercises/nbproject/private/
/Solutions/L10-ArraysSource/build/
/L11 - 2DArrays/nbproject/private/
/L11 - 2DArrays/build/